datos {border:1px solid #ccc;padding:10px;font-size:1em;}

datos tr:nth-child(even) {background:#ccc;}

datos td {padding:5px;}

datos tr.noSearch {background:White;font-size:0.8em;}

datos tr.noSearch td {padding-top:10px;text-align:right;}

.hide {display:none;}

.red {color:Red;}